{
  "prettier.arrowParens": "avoid",
  "prettier.printWidth": 80,
  "prettier.semi": false,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "none",
  "prettier.useEditorConfig": false
}
